

@font-face {
    font-family: 'NotoSansKR';
    src:url('NotoSansKR-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSansKR';
    src: url('NotoSansKR-Regular.eot');
    src: url('NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
         url('NotoSansKR-Regular.woff') format('woff'),
         url('NotoSansKR-Regular.woff2') format('woff2'),
         url('NotoSansKR-Regular.ttf') format('truetype'),
         url('NotoSansKR-Regular.svg#Noto Sans KR') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSansKR';
    src:url('NotoSansKR-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSansKR';
    src:url('NotoSansKR-Bold.woff') format('woff'),
        url('NotoSansKR-Bold.woff2') format('woff2'),
        url('NotoSansKR-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;

}
