@charset "UTF-8";


//New Color (2022-03-02)
//https://www.figma.com/file/YS287ISSPJXm2QxnefYoH1/Rallyz-ver.2-ux?node-id=11%3A239


//Primary
$Primary: #33CC33;
$GGreen: #E9F8E9;
$Green-01: #D6F5D6;
$Green-02: #ADEBAD;
$Green-03: #85E085;
$Green-04: #5CD65C;
$Green-05: #2DB62D;
$Green-06: #209220;

//Secondary
$Secomdary: #3438FF;
$GBlue: #E2EAFF;
$Blue-01: #B4C9FF;
$Blue-02: #8AABFF;
$Blue-03: #5887FF;
$Blue-04: #4447DE;
$Blue-05: #3A3C95;
$Blue-06: #28296F;

//Gray
$Black: #272A2F;
$Gray-01: #F7F9FA;
$Gray-02: #F2F4F6;
$Gray-03: #E0E3E6;
$Gray-04: #B6BCBF;
$Gray-05: #7E8086;
$Gray-06: #575B65;
$Gray-07: #383E44;



$White: #FFFFFF;

$Warning: #FF6644;




