@charset "UTF-8";


//** include로 사용할 mixin 모음 **//



//media query
@mixin breakpoint($point) {

	@if $point == sssmobile {
		@media (min-width: 280px) and (max-width: 360px) { @content; }
	}
	@else if $point == ssmobile {
		@media (max-width: 575px) { @content; }
	}
	@else if $point == tabletMini {
		@media all and (min-width:768px) { @content; }
	}
	@else if $point == mobile {
		@media (max-width: 820px) { @content; }
	}
	@else if $point == tablet {
		@media all and (min-width:1000px) { @content; }
	}
}

//font size
@mixin font-size($sizeValue){
	font-size: $sizeValue +  px; //fallback for old browsers
	// font-size: (0.067 * $sizeValue) + rem;
}
	
//line height
@mixin line-height($heightValue: 18 ){
	line-height: $heightValue + 10px; //fallback for old browsers
	line-height: (0.125 * $heightValue) + rem;
}

//opacity - Cross browser opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}


//Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// center
@mixin centerer($horizontal: true, $vertical: true) {
	position: absolute;
	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else if ($horizontal) {
		left: 50%;
		transform: translate(-50%, 0);
	} @else if ($vertical) {
		top: 50%;
		transform: translate(0, -50%);
	}
}

// background opacity
@mixin bg-opacity($color, $opacity) {
	background: $color;
	background: rgba($color, $opacity);
}

// 위에 fixed이던 밑에 fixed이던 안에 있는 컨텐츠 조절.
// $top : 해당 컨텐츠의 윗 부분에 fixed가 된 것이 있을 경우 높이 조절
// $height : 해당 컨텐츠의 밑 부분에 fixed가 된 것이 있을 경우 높이 조절
@mixin fixed-contents($top, $height) {
	position: absolute;
	top:$top;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;                
	width:100%;
	height: calc(100% - $height);
}
@mixin top-fixed($top) {
	position: fixed;
	top:$top;
	width:100%;
	@include breakpoint(tablet) {
		position:absolute;
	}
}