@charset "UTF-8";
@import "../_helperVer2";


div.containerVer2 {

    article.guide {
		background: $White;
	
		//개인화 영역
		div.greetingBox {
			width: 100%;
			height: 130px;
			padding: 23px 16px;
			background: url('../../images/guide/greeting_01.svg') $GGreen right 16px bottom no-repeat;
			background-size: 150px;
			h2 {
				@include font-size(20);
				margin: 22px 0 11px 0;
				color: $Black;
				font-weight: 700;
				em {
					color: $Green-05;
				}
			}
			p.desc {
				@include font-size(14);
				color: $Gray-06;
			}
		}

		//학원문의 배너
		div.requestBox {
			@include border-radius(8px);
			width: calc(100% - 32px);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding: 14px 16px;
			margin: 16px 16px 0 16px;
			background: $Gray-01;
			p.menuTitle {
				@include font-size(12);
				width: calc(100% - 110px);
				em {
					display: block;
					font-weight: 700
				}
			}
			div.status {
				position: relative;
				width: 110px;
				padding: 0 22px 0 0;
				text-align: right;
				&::after {
					@include font-size(14);
					font-family: 'icomoon' !important;
					speak: never;
					content: '\e901';
					position: absolute;
					top: 3px;
					right: 0px;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					pointer-events: none;
					color: $Gray-03;
				}
				p {
					@include font-size(12);
					line-height: 18px;
					font-weight: 700;
					//답변완료
					&.done {
						color: $Blue-03;
					}
					//답변대기
					&.waiting {
						color: $Gray-05;
					}
				}
			}
		}	
	
		//가이드 내용
		article.guideBox {
			padding: 31px 0 16px 0;
			margin: 0 16px;
			&.border {
				border-top: 1px solid $Gray-02;
			}
			ul.guideList {
				margin: 4px 0 0 0;
				> li {
					button.btnGo {
						@extend %clearfix;
						position: relative;
						width: 100%;
						padding: 15px 0;
						text-align: left;
						&::after {
							@include font-size(14);
							font-family: 'icomoon' !important;
							speak: never;
							content: '\e901';
							position: absolute;
							top: 33px;
							right: 10px;
							font-style: normal;
							font-weight: normal;
							font-variant: normal;
							text-transform: none;
							line-height: 1;
							pointer-events: none;
							color: $Gray-04;
						}
						div.ico {
							@include border-radius(100px);
							float: left;
							width: 50px;
							height: 50px;
							//학원장,직원
							&.owner {
								background: url('../../images/guide/icoOwner.svg') #f0fbf7 center no-repeat;
								background-size: 34px;
							}
							//선생
							&.teacher {
								background: url('../../images/guide/icoTeacher.svg') #f0fbf7  center no-repeat;
								background-size: 34px;
							}
							//학생,부모
							&.parents {
								background: url('../../images/guide/icoParents.svg') #f0fbf7  center no-repeat;
								background-size: 34px;
							}
							//검색
							&.search {
								background: url('../../images/guide/icoSearch.svg') #f0fbf7  center no-repeat;
								background-size: 34px;
							}
							@include breakpoint(sssmobile) {
								width:40px;
								height:40px;
								background-size:24px;
							}
						}				
						p {
							@include font-size(12);
							float: left;
							margin: 10px 0 0 10px;
							@include breakpoint(sssmobile) {
								@include font-size(10);
								margin: 5px 0 0 5px;
							}
							em {
								@include font-size(14);
								display: block;
								margin: 0 0 5px 0;
								color: $Black;
								font-weight: 700;
							}
						}
					}				
				}
			}
		}
	}

}