@charset "UTF-8";
@import "../_helperVer2";


div.containerVer2 {

    article.institute {

        //학원메인
        &.instMain {   
            //학원 이미지 슬라이더
            div.imageSliderWrap {
                //학원버튼
                div.instBtnBox {
                    position: absolute;
                    top: 12px;
                    right: 16px;
                    z-index: 100;
                    font-size: 0;
                    button.btnInstStatus {
                        margin: 0 0 0 8px;
                    }
                }                
            }
        }

        div.tabContents {
            width: 100%;
            height: 100%;
            min-height: 100vh;
            padding: 16px;
        }

        //학원관리
        &.instManagement {
            background: $Gray-01;
            article.menuBoxWrap {
                @include border-radius(16px);
                position: relative;
                width: 100%;
                margin: 0 0 8px 0;
                background: $White;
                border: 1px solid $Gray-02;
                &.mgNone {
                    margin: 0;
                }
                h3 {
                    display: inline-block;
                    padding: 16px;
                    color: $Black;
                    font-weight: 700;
                    line-height: 21px;
                }
                div.bookmarkBoxWrap {
                    position: absolute;
                    top: 14px;
                    right: 16px;
                }

                ul.menuBox {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    border-top: 1px solid $Gray-02;
                    > li {
                        width: 50%;
                        button.btnGo {
                            position: relative;
                            display: block;
                            width: 100%;
                            min-height: 52px;
                            padding: 15px 18px;
                            text-align: left;
                            &:after {
                                @include font-size(14);
                                font-family: 'icomoon' !important;
                                speak: never;
                                content: '\e901';
                                position: absolute;
                                top: 19px;
                                right: 20px;
                                font-style: normal;
                                font-weight: normal;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                                pointer-events: none;
                                color: $Gray-04;
                            }
                            > i {
                                @include font-size(22);
                                display: inline-block;
                                margin: 0 4px 0 0;
                                vertical-align: middle;
                            }
                            span {
                                @include font-size(12);
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
	
        //학원 현황
        &.instStatus {
            background: $Gray-01;
            article.dashboardWrap {
                @include border-radius(16px);
                position: relative;
                width: 100%;
                margin: 0 0 8px 0;
                background: $White;
                border: 1px solid $Gray-02;
                &.mgNone {
                    margin: 0;
                }
                h3 {
                    display: inline-block;
                    padding: 16px;
                    color: $Black;
                    font-weight: 700;
                    line-height: 21px;
                    //기준 날짜
                    span.date {
                        @include font-size(10);
                        position: relative;
                        display: inline-block;
                        padding: 2px 0 0 14px;
                        margin: 0 0 0 8px;
                        line-height: 17px;
                        color: $Gray-04;
                        font-weight: 400;
                        vertical-align: top;
                        &::before {
                            @include font-size(11);
                            font-family: 'icomoon' !important;
                            speak: never;
                            content: '\e99c';
                            position: absolute;
                            top: 5px;
                            left: 0;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            pointer-events: none;
                            color: $Gray-04;
                        }
                    }
                }
                //더보기 버튼
                button.btnMore {
                    @include font-size(12);
                    display: inline-block;
                    position: absolute;
                    top: 17px;
                    right: 16px;
                    min-width: 35px;
                    height: 18px;
                    color: $Black;
                    font-weight: 300;
                }
                
                div.dashboard {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    padding: 25px 16px;
                    border-top: 1px solid $Gray-02;

                    ///// 대시보드 숫자 공통 스타일 /////
                    em {
                        margin: 0 1px 0 0;
                        font-style: normal;
                        font-weight: 700;
                        &.orange {
                            color: #ff6644;
                        }
                        &.green {
                            color: $Green-05;
                        }
                        &.blue {
                            color: $Blue-03;
                        }
                        &.gray05 {
                            color: $Gray-05;
                        }
                        &.gray06 {
                            color: $Gray-06;
                        }
                        &.black {
                            color: $Black;
                        }
                    }

                    //항목 - 현재,투데이
                    dl.current {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-items: center;
                        text-align: center;
                        dt {
                            @include font-size(12);
                            width: 50%;
                            padding: 0 0 3px 0;
                            color: $Gray-05;
                            font-weight: 500;
                        }
                        dd {
                            @include font-size(11);
                            width: 50%;
                            em {
                                @include font-size(20);
                            }
                        }
                    }

                    //항목 - 전일대비,출석조퇴현황
                    dl.detail {
                        width: 35%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 0 0 0 15%;
                        dt {
                            @include font-size(12);
                            width: 50%;
                            padding: 3px 0;
                            text-align: left;
                            font-weight: 500;
                        }
                        dd {
                            @include font-size(12);
                            width: 50%;
                            padding: 3px 0;
                            text-align: right;
                            i.icoArrow {
                                @include font-size(10);
                            }
                        }
                    }

                    //청구건수 및 납부금액
                    dl.payment {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        dt {
                            width: 40%;
                            color: $Black;
                            font-weight: 700;
                            //세부항목
                            &.small {
                                @include font-size(12);
                                color: $Gray-06;
                                line-height: 18px;
                            }
                        }
                        dd {
                            @include font-size(12);
                            width: 60%;
                            color: $Black;
                            text-align: right;
                            em {
                                @include font-size(20);
                            }
                            //세부항목
                            &.small {
                                @include font-size(12);
                                color: $Gray-06;
                                line-height: 18px;
                                em {
                                    @include font-size(12);
                                }
                            }
                        }
                    }

                    //문의
                    dl.request {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        dt {
                            @include font-size(12);
                            width: 50%;
                            color: $Gray-05;
                            font-weight: 500;
                        }
                        dd {
                            @include font-size(12);
                            width: 50%;
                            color: $Black;
                            text-align: right;
                            em {
                                @include font-size(20);
                            }
                        }
                    }
                }
            }
        }

        //클래스, 학원만들기
        &.createStep {

            // 온보딩과 겹치는 부분.
            &.onboarding {
                &.classCreate {
                    padding: 0 16px 88px 16px; //버튼 88 fixed때문에 버튼 height만큼 패딩
                }
            }
            // 공통 사용 리스트
            dl.inputListRow {
                dd {
                    div.imagePreWrap {
                        border-radius: 5px;
                    }
                    //기본 이미지 선택
                    div.defaultImageToggle {
                        margin:8px 0 0 0;
                        ul.imageChoiceWrap {
                            display: flex;
                            width:100%;
                            margin:8px 0 0 0;
                            li {
                                position:relative;
                                width:18.4%;
                                margin:0 0 0 2%;
                                padding:0 0 25px 0;
                                &:first-child {
                                    margin:0;
                                }
                                div.imageWrap {
                                    width:100%;
                                    border-radius: 5px;
                                    @include breakpoint(tablet) {
                                        height:100px;
                                    }
                                }
                                div.radioWrap {
                                    position: absolute;
                                    bottom:5px;
                                    margin:0;
                                    @include centerer(true, false);
                                    label {
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }

                    // 이미지 업로드 시 썸네일
                    ul.imageUploadThumb {
                        display: flex;
                        width:100%;
                        margin:10px auto;
                        li {
                            position:relative;
                            &.necessary {
                                div.picUploadBox {
                                    label {
                                        border:1px solid $Gray-06;
                                        background: $Gray-01;
                                    }
                                }
                            }
                            div.picUploadBox {
                                label {
                                    display: block;
                                    position:relative;
                                    cursor: pointer;
                                    width:100%;
                                    padding-top:60%;
                                    border-radius: 8px;
                                    border:1px dashed $Gray-03;
                                    div.abWrap {
                                        @include centerer(true, true);
                                        width: 100%;
                                        text-align: center;
                                        i {
                                            @include font-size(20);
                                            display: block;
                                            margin:0 0 5px 0;
                                            color:$Gray-04;
                                        }
                                    }
                                }
                                p { 
                                    margin:5px 0 0 0;
                                    text-align: center;
                                    @include font-size(12);
                                }
                            }
                            div.upload {
                                position: absolute;
                                top:2px;
                                left:2px;
                                width:calc(100% - 4px);
                                z-index:5;
                            }
                            div.thumb {
                                width:100%;
                                border-radius: 5px;
                                background-position: 50% 50%;
                                border:none;
                                @include breakpoint(tablet) {
                                    height:100px;
                                }
                            }
                            button.btnClose {
                                position: absolute;
                                top:-5px;
                                right:-5px;
                                width:20px;
                                height:20px;
                                padding:3px 0 0 0;
                                background:$White;
                                border:1px solid $Gray-01;
                                box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
                                @include font-size(8);
                                border-radius: 100%;
                                line-height: 10px;
                                color:$Gray-06;
                                @include breakpoint(tablet) {
                                    padding:0;
                                }
                            }
                        }
                        &.col3 {
                            li {
                                width:32%;
                                margin:0 0 0 2%;
                                &:first-child {
                                    margin:0;
                                }
                            }
                        }
                        &.col4 {
                            li {
                                width:23.5%;
                                margin:0 0 0 2%;
                                &:first-child {
                                    margin:0;
                                }
                            }
                        }
                    }

                    p.ex {
                        @include font-size(12);
                        color:$Gray-05;
                    }

                    div.inputWrap {
                        // 학원비 납부 기준일 보더 박스 안에 들어간 인풋들
                        ul.inputInInputItem {
                            li {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                @include border-radius(10px);
                                width: 100%;
                                height: 40px;
                                padding: 12px;
                                margin: 0 0 4px 0;
                                border: 1px solid $Gray-03;
                                background: $White;
                                color:$Gray-05;
                                div {
                                    &.radioWrap {
                                        width:90px;
                                    }
                                    &.selectWrap {
                                        border:none;
                                        height: auto;
                                        padding:0 25px 0 0;
                                        &:before {
                                            top:-2px;
                                            right:0;
                                        }
                                        select {
                                            height:auto;
                                            padding:0;
                                        }
                                    }
                                }
                                p.right {
                                    width:calc(100% - 90px);
                                    text-align: right;
                                }
                            }
                        }
                        &.tag {
                            margin:8px 0;
                            input {
                                padding:0 16px 0 35px;
                            }
                            &:before {
                                position:absolute;
                                left:16px;
                                top:15px;
                                @include font-size(25);
                                font-weight: 700;
                                color:$Primary;
                                content: "#";
                            }
                        }
                    }
                }
            }
            div.btnGroup {
                margin:48px 0 0 0;
            }
            // 학원 만들기
            &.instCreate {
                padding: 0 16px 88px 16px; //버튼 88 fixed때문에 버튼 height만큼 패딩
                @include breakpoint(tabletMini) {
                    padding: 0 32px 88px 32px; //버튼 88 fixed때문에 버튼 height만큼 패딩
                }
                div.txtBox {
                    margin: 32px 0 24px 0;
                    padding:24px 16px;
                    border:1px solid $Primary;
                    border-radius: 10px;
                    text-align: center;
                    p.mainTxt {
                        strong {
                            display: block;
                            margin:0 0 4px 0;
                            @include font-size(20);
                            color:$Primary;
                            font-weight: 700;
                            line-height: 1.5;
                        }
                        span {
                            display: block;
                            @include font-size(14);
                            color:$Gray-06;
                            font-weight: 500;
                        }
                    }
                    p.subTxt {
                        margin:16px 0 0 0;
                        @include font-size(12);
                        color:$Gray-06;
                    }
                }
                dl.inputListRow {
                    dd {
                        div.imagePreWrap {
                            border-radius: 5px;
                        }
                        //기본 이미지 선택
                        div.defaultImageToggle {
                            margin:8px 0 0 0;
                            ul.imageChoiceWrap {
                                display: flex;
                                width:100%;
                                margin:8px 0 0 0;
                                li {
                                    position:relative;
                                    width:18.4%;
                                    margin:0 0 0 2%;
                                    padding:0 0 25px 0;
                                    &:first-child {
                                        margin:0;
                                    }
                                    div.imageWrap {
                                        width:100%;
                                        border-radius: 5px;
                                        @include breakpoint(tablet) {
                                            height:100px;
                                        }
                                    }
                                    div.radioWrap {
                                        position: absolute;
                                        bottom:5px;
                                        margin:0;
                                        @include centerer(true, false);
                                        label {
                                            margin:0;
                                        }
                                    }
                                }
                            }
                        }

                        // 이미지 업로드 시 썸네일
                        ul.imageUploadThumb {
                            display: flex;
                            width:100%;
                            margin:10px auto;
                            li {
                                position:relative;
                                &.necessary {
                                    div.picUploadBox {
                                        label {
                                            border:1px solid $Gray-06;
                                            background: $Gray-01;
                                        }
                                    }
                                }
                                div.picUploadBox {
                                    label {
                                        display: block;
                                        position:relative;
                                        cursor: pointer;
                                        width:100%;
                                        padding-top:60%;
                                        border-radius: 8px;
                                        border:1px dashed $Gray-03;
                                        div.abWrap {
                                            @include centerer(true, true);
                                            width: 100%;
                                            text-align: center;
                                            i {
                                                @include font-size(20);
                                                display: block;
                                                margin:0 0 5px 0;
                                                color:$Gray-04;
                                            }
                                        }
                                    }
                                    p { 
                                        margin:5px 0 0 0;
                                        text-align: center;
                                        @include font-size(12);
                                    }
                                }
                                div.upload {
                                    position: absolute;
                                    top:2px;
                                    left:2px;
                                    width:calc(100% - 4px);
                                    z-index:5;
                                }
                                div.thumb {
                                    width:100%;
                                    border-radius: 5px;
                                    background-position: 50% 50%;
                                    border:none;
                                    @include breakpoint(tablet) {
                                        height:100px;
                                    }
                                }
                                button.btnClose {
                                    position: absolute;
                                    top:-5px;
                                    right:-5px;
                                    width:20px;
                                    height:20px;
                                    padding:3px 0 0 0;
                                    background:$White;
                                    border:1px solid $Gray-01;
                                    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
                                    @include font-size(8);
                                    border-radius: 100%;
                                    line-height: 10px;
                                    color:$Gray-06;
                                    @include breakpoint(tablet) {
                                        padding:0;
                                    }
                                }
                            }
                            &.col3 {
                                li {
                                    width:32%;
                                    margin:0 0 0 2%;
                                    &:first-child {
                                        margin:0;
                                    }
                                }
                            }
                            &.col4 {
                                li {
                                    width:23.5%;
                                    margin:0 0 0 2%;
                                    &:first-child {
                                        margin:0;
                                    }
                                }
                            }
                        }

                        p.ex {
                            @include font-size(12);
                            color:$Gray-05;
                        }

                        div.inputWrap.tag {
                            margin:8px 0;
                            input {
                                padding:0 16px 0 35px;
                            }
                            &:before {
                                position:absolute;
                                left:16px;
                                top:15px;
                                @include font-size(25);
                                font-weight: 700;
                                color:$Primary;
                                content: "#";
                            }
                        }
                    }
                }
                div.btnGroup {
                    margin:48px 0 0 0;
                }
            }
                            
        }
    }

    //클래스
    &.class {
        
    }









    ///////////////// 모달 /////////////////

    div.modalWrap {
        div.modal {

            //모달 - 클래스 필터
            &.classFilter {
                div.contents {
                    text-align: left;
                }
            }

        }
    }














}
