@charset "UTF-8";
@import "../_helperVer2";


div.containerVer2 {

    article.onboarding {

        //진행상태 게이지
        div.processGage {
            width: 100%;
            margin: 8px 0 0 0;
            text-align: right;
            span {
                @include font-size(10);
                display: inline-block;
                height: 20px;
                line-height: 20px;
                em {
                    display: inline-block;
                    margin: 0 0 0 4px;
                    color: $Primary;
                    font-weight: 700;
                }
            }
            img {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 0 0 2px;
            }
        }

        //인트로
        &.intro {
            text-align: center;
            p.mainTxt {
                @include font-size(20);
                margin: 0 0 8px 0;
                color: $Black;
                font-weight: 700;
                line-height: 30px;
            }
            p.subTxt {
                @include font-size(14);
                line-height: 21px;
            }
            div.rallyz {
                width: 100%;
                padding: 32px 0;
                img {
                    width: 375px;
                    max-width: 100%;
                    margin: 32px auto 0 auto;
                }
            }
            div.benefitWrap {
                width: 100%;
                @include breakpoint(tablet) {
                    width: 375px;
                    margin: 0 auto;
                }
                ul.benefitList {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 9px;
                    padding: 32px 16px;
                    > li {
                        @include border-radius(12px);
                        flex-basis: 48%;
                        padding: 25px 9px;
                        margin: 0 0 8px 0;
                        box-shadow: 0 4px 16px 0 rgba(0,4px,12px,0.05);
                        img {
                            width: 48px;
                            max-width: 100%;
                        }
                        p {
                            @include font-size(12);
                            color: #5b5b5b;
                            line-height: 18px;
                            &.tit {
                                @include font-size(14);
                                margin: 0 0 8px 0;
                                color: $Black;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            div.rallyzStartWrap {
                width: 100%;
                background: $Gray-02;
                div.rallyzStart {
                    width: 100%;
                    display: flex;
                    padding: 0 16px;
                    text-align: left;
                    align-items: center;
                    @include breakpoint(tablet) {
                        width: 375px;
                        margin: 0 auto;
                    }
                }
                img {
                    display: inline-block;
                    width: 160px;
                    max-width: 100%;
                }
                p {
                    @include font-size(16);
                    display: inline-block;
                    line-height: 24px;
                    text-align: left;
                    font-weight: 700;
                    color: $Black;
                }
            }
        }
    
        //즐겨찾기
        &.bookmark {
            padding: 0 16px;
            div.rallyz {
                margin: 16px 0 0 0;
                text-align: center;
                p {
                    &.mainTxt {
                        @include font-size(20);
                        margin: 0 0 16px 0;
                        color: $Black;
                        font-weight: 700;
                        line-height: 30px;
                    }
                    &.subTxt {
                        @include font-size(14);
                        line-height: 21px;
                    }
                    em {
                        color: $Green-05;
                    }
                }
            }
            div.bookmarkWrap {
                margin: 26px 0 8px 0;
                ul.bookmarkList {
                    > li {
                        @include border-radius(10px);
                        position: relative;
                        width: 100%;
                        height: 70px;
                        padding: 16px 16px;
                        margin: 0 0 8px 0;
                        background: $White;
                        border: 1px solid $Gray-03;
                        //체크박스가 선택됐을 때
                        &.selected {
                            background: $GGreen;
                            border: 1px solid $Primary;
                        }
                        &:last-child {
                            margin: 0;
                        }
                        //기본제공 플래그
                        div.defaultFlag {
                            position: absolute;
                            top: -3px;
                            right: 8px;
                            width: 48px;
                            height: 20px;
                            background: $Primary;
                            color: $White;
                            border-top-left-radius: 2px;
                            border-top-right-radius: 2px;
                            border-bottom-left-radius: 7px;
                            border-bottom-right-radius: 7px;
                            text-align: center;
                            span {
                                @include font-size(10);
                                font-weight: 700
                            }
                        }
                        //즐겨찾기 체크박스
                        div.bookmarkBoxWrap {
                            position: absolute;
                            top: 8px;
                            right: 8px;
                        }
                        p {
                            @include font-size(12);
                            &.tit {
                                @include font-size(14);
                                margin: 2px 0 6px 0;
                                color: $Black;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    
        //학원만들기
        &.instCreate {
            padding: 0 16px 88px 16px; //버튼 88 fixed때문에 버튼 height만큼 패딩
            div.instInfoWrap {

            }            
        }
    
        //클래스만들기
        &.classCreate {
            padding: 0 16px 122px 16px; //버튼 122 fixed때문에 버튼 height만큼 패딩
            div.classInfoWrap {
                margin: 18px 0 0 0;
                dl.inputListRow {
                    margin: 24px 0 0 0;
                    dt {
                        //강사 불러오기 버튼
                        button.btnLecSelect {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                    //수업과목 태그
                    div.tagBoxWrap {
                        margin: 8px 0 0 0;
                    }
                    //시간 선택
                    div.timeSelectWrap {
                        margin: 16px 0 0 0;
                    }
                    //클래스 정보 표시
                    ul.displayItem {
                        > li {
                            @extend %clearfix;
                            @include border-radius(10px);
                            width: 100%;
                            height: 48px;
                            padding: 12px;
                            margin: 0 0 4px 0;
                            border: 1px solid $Gray-03;
                            background: $White;
                            p.item {
                                float: left;
                                margin: 4px 0 0 0;
                            }
                            div.toggleWrap {
                                float: right;
                                margin: 4px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    
        //생성완료
        &.createDone {
            padding: 48px 16px;
            div.doneImg {
                width: 100%;
                background: url('../../images/ico/completion.svg') top center no-repeat;
                background-size: 120px;
                p {
                    @include font-size(20);
                    padding: 144px 0 0 0;
                    color: $Black;
                    text-align: center;
                }
            }
            div.txtBox {
                width: 100%;
                padding: 0 16px;
                margin: 24px 0 0 0;
                text-align: center;
                p {
                    color: $Gray-06;
                    line-height: 21px;
                    &.mainTxt {
                        @include font-size(20);
                        margin: 0 0 16px 0;
                        color: $Green-05;
                        font-weight: 700;
                    }
                    &.subTxt {
                        @include font-size(20);
                        margin: 16px 0 0 0;
                        color: $Black;
                        font-weight: 700;
                    }
                }
            }
            //학부모 자동연결 팁
            div.tipBox {
                @include border-radius(12px);
                width: 100%;
                padding: 16px;
                margin: 24px 0 0 0;
                background: #f6fcff;
                p {
                    line-height: 21px;
                    color: $Gray-05;
                    &.tit {
                        margin: 0 0 6px 0;
                        color: $Gray-07;
                        font-weight: 700;
                        em {
                            @include border-radius(4px);
                            @include font-size(10);
                            display: inline-block;
                            padding: 3px 4px;
                            margin: 3px 7px 0 0;
                            background: #2477f2;
                            font-weight: 700;
                            line-height: 100%;
                            vertical-align: top;
                            color: $White;
                        }
                    }
                }                
            }
        }
    
        //학생등록
        &.addStudent {
            padding: 0 0 122px 0; //버튼 122 fixed때문에 버튼 height만큼 패딩
            div.processGage {
                padding: 0 16px;;
            }
            div.tabWrap {
                margin: 16px 0;
            }
            div.tabContents {
                padding: 0 16px;

                div.tabSingle, div.tabBatch {
                    //탭 활성화
                    &.on {
                        display: block;
                    }
                    //탭 비활성화
                    &.off {
                        display: none;
                    }
                }

                //개별 등록
                div.tabSingle {
                    margin: 18px 0 0 0;
                    dl.inputListRow {
                        margin: 24px 0 0 0;
                        dt {
                            //기존 학생 불러오기 모달
                            button.btnStudentSelect {
                                position: absolute;
                                top: -8px;
                                right: 0;
                            }
                            //학원비 할인 토글
                            button.btnInfoToggle {
                                position: absolute;
                                top: -1px;
                                right: 0;
                                width: 24px;
                                height: 24px;
                                i {
                                    @include font-size(24);
                                }
                            }
                        }
                        dd {
                            ul.alignCol2 {
                                //성별 라디오버튼 정렬
                                &.gender {
                                    width: 50%;
                                }
                            }
                        }
                    }
                    //학원비 할인 안내
                    div.saleInfo {
                        @include border-radius(12px);
                        width: 100%;
                        padding: 16px;
                        margin: 0 0 4px 0;
                        background: $Gray-01;
                        p {
                            color: $Gray-05;
                            line-height: 21px;
                        }
                    }
                    //학원비 할인 내역
                    div.saleDetailBox {
                        margin: 16px 0 0 0;
                        ul.saleList {
                            @include border-radius(10px);
                            border: 1px solid $Gray-03;
                            > li {
                                display: flex;
                                flex-direction: row;
                                background: $White;
                                span {
                                    width: 50%;
                                    &.item {
                                        text-align: left;
                                        font-weight: 500;
                                        color: $Black;
                                    }
                                    &.price {
                                        text-align: right;
                                    }
                                }
                                //할인 전
                                &.pre {
                                    padding: 17px 16px;
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                    border-bottom: 1px solid $Gray-03;
                                    span.price {
                                        em {
                                            margin: 0 2px 0 0;
                                            color: $Blue-03;
                                            font-weight: 500;
                                        }
                                    }
                                }
                                //할인수단, 할인사유
                                &.detail {
                                    flex-direction: column;
                                    padding: 16px 16px 0 16px;
                                    ul.alignCol3 {
                                        > li {
                                            display: inline-block;
                                            width: 23.8%;
                                            &:last-child {
                                                width: 50%;
                                                input[type="text"] {
                                                    text-align: right;
                                                }
                                            }
                                        }
                                    }
                                }

                                //할인 후
                                &.final {
                                    padding: 17px 16px;
                                    margin: 16px 0 0 0;
                                    background: $Gray-01;
                                    border-top: 1px dotted $Gray-03;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    span.price {
                                        em {
                                            @include font-size(20);
                                            margin: 0 3px 0 0;
                                            color: $Primary;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                //일괄 등록
                div.tabBatch {
                    
                }
            }
        }
    
        //자녀연결
        &.dd {
    
        }
    
        //학원찾기
        &.searchInst {
    
        }
    
    
    }










    ///////////////// 모달 /////////////////

    div.modalWrap {
        div.modal {

            //모달 - 북마크
            &.bookmark {
                div.contents {
                    
                }
            }

            //모달 - 클래스 등록 나중에
            &.classCreateExit {
                div.contents {
                    p {
                        @include font-size(12);
                        line-height: 18px;
                    }
                }
            }

            //모달 - 클래스 등록 완료
            &.classCreateDone {
                div.contents {
                    p {
                        @include font-size(12);
                        line-height: 18px;
                    }
                }
            }

            //모달 - 기존학생 불러오기
            &.studentSelect {
                div.contents {
                    div.sortBox {
                        margin: 16px 0;
                        div.selectWrap {
                            margin: 0 0 8px 0;
                        }
                    }
                }
            }

        }
    }









}