div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header p.topInfo {
  font-size: 12px;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header p.topInfo span {
  margin: 0 5px 0 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header p.topInfo span.strong {
  color: #33CC33;
  font-weight: 500;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header p.topInfo span.light {
  color: #272A2F;
  font-weight: 300;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 16px 0 0 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.userProfileImg {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  border: 1px solid #E0E3E6;
  border-radius: 100%;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.writeInfo {
  padding: 3px 0 0 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.writeInfo p.userName {
  font-size: 14px;
  color: #272A2F;
  font-weight: 700;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.writeInfo div.writeInfoDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.writeInfo div.writeInfoDetail p.date {
  font-size: 10px;
  color: #575B65;
  font-weight: 300;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.writeInfo div.writeInfoDetail div.iconGroup span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  margin: 0 0 0 10px;
  color: #33CC33;
  border: 1px solid #E0E3E6;
  border-radius: 100%;
  font-size: 10px;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.header div.writerInfoBox div.writeInfo div.writeInfoDetail div.iconGroup span i.icon-file {
  padding: 0 2px 0 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.contents {
  padding: 16px 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.contents > div.textWrap {
  font-size: 14px;
  color: #575B65;
  white-space: pre-wrap;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.contents > div.imageWrap img {
  width: 100%;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.footer span i {
  font-size: 12px;
  margin: 0 5px 0 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.footer div.leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.footer div.leftBox span {
  color: #7E8086;
  margin: 0 13px 0 0;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap div.footer div.rightBox span {
  color: #33CC33;
}
div.containerVer2 article.home.homeDefault ul.feedList {
  margin: 16px 0 0 0;
  padding: 0 0 16px 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F2F4F6;
  border-radius: 16px;
}
div.containerVer2 article.home.homeDefault ul.feedList li {
  padding: 0 16px;
}
div.containerVer2 article.home.homeDefault ul.feedList li div.feedListWrap {
  padding: 16px 0;
  border-bottom: 1px solid #F2F4F6;
}
div.containerVer2 article.home.homeDefault ul.feedList li:last-child div.feedListWrap {
  padding-bottom: 0;
  border-bottom: none;
}