div.containerVer2 article.member.connect {
  padding: 16px 16px 0 16px; }
  div.containerVer2 article.member.connect p.subText {
    font-size: 12px;
    color: #7E8086; }
  div.containerVer2 article.member.connect ul.connectFamilyList {
    margin: 12px 0 0 0; }
